.btn-box {
  display: flex;
  align-items: center;
  margin-left: 10px;
  position: absolute;
  left: 0;
  top: 60px;
}
.btn-box button {
  padding: 7px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: #363636;
  box-shadow: 3px 5px 5px #e2e2e28e;
}