.new-list-container {
  padding-bottom: 50px;
}

.news-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.news-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.page-title {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}