.chart-js-box {
    width: 100%;
    overflow-x: auto;
    /* Enable horizontal scrolling for large datasets */
    padding-bottom: 20px;
    -webkit-overflow-scrolling: touch;
    margin: 0;
}

.amarkets-p {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    background-color: orange;
}

.our-money-p {
    font-size: 26px;
    margin: 0 0 15px 0;
    padding: 13px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    background-color: rgb(230, 230, 230);
}

.difference-p {
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 700;
    padding: 13px 0;
    border-top: 12px solid orange;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(230, 230, 230);
}